*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
   

}
.banner{
    display: flex;
    height: 400px;
    background-image: url(./img/hockey3.jpg);
    object-fit:scale-down;
    background-size:cover;
    flex-grow: 2;

}
.menu{
    background-color: rgb(59, 58, 58);
    color: rgb(243, 223, 38);
    justify-content: flex-start;
    width: 140px;
    align-items: stretch;
}

.titulo {
    /* padding-left: 2em;
    padding-right: 2em; */
    position: relative;
    margin-left: 20px;
    padding-top: 10px;
    color: aliceblue;
    text-align: center;
    font-style: italic;
    font-size: 60px;
    
   

}
figure{
    width: 140px;
    justify-content: center;
}
img{
    align-items: flex-start;
    width: 140px;
}
nav{
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 1em;
    
   
    
}
nav a {
    color: whitesmoke;
    padding: 0.7em;
    text-decoration: none;

}
nav a:hover{
    background-color: rgba(223, 185, 17, 0.925);
}
/* -------------Main--------------- */

.title_bar{
    background-color: black;
    color:whitesmoke;
    text-align: center;
}
article h4 {
    padding-top: 1em;
    padding-bottom: 1em;
}
.main-box{
    
    padding-bottom: 2em;
   
    
    
}
.addInfo {
    
    width: 500px;
    padding-top: 1em;
    padding-left: 1em;
    color: rgb(17, 21, 221);
    
    
}
.addInfo-contact{

    display: flex;
    width: 500px;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    color: rgb(17, 21, 221);
}

.addInfo h3 {
    padding-top: 1em;
    padding-bottom: 1em;
}
 p {
    line-height: 20px;
}
.register {
    width: 120px;
    height: 20px;
    text-align: center;
    margin-top: 2em;
    position: absolute;
    right: 10px;
    top: 365px;
    background-color: rgb(28, 29, 78) ;
    color:whitesmoke;
    font-size: large;
    text-decoration: none;
}
.flex-main {
    display: flex;
    flex-direction: row;
}
.main-img{
    margin-top: 2em;
} 
 /* -------------------table-style--------------- */
table {
    border-spacing: 15px;
    border:rgb(17, 21, 221) 3px solid;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.add_data{
    width: 600px;
}
.add_data p{
    padding-top: 1em;
    padding-bottom: 1em;
}
.p_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.valid {
    display: none;
}
iframe{
    width: 300px;
    height: 300px;
}
.map {
    display: flex;
    
    padding-bottom: 2em;
}
.title_rules{
    text-align: center;
    color: rgb(17, 21, 221);
}
.rules{
    text-align:justify;
    width: 500px;
    padding-left: 2em;
    padding-bottom: 2em;
    
   
}
.rules h3 {
    
    color:  black;
    padding-top: 1em;
    padding-bottom: 1em;
}
.menu-map{
 width: 300px;
}

/* ---------Styles Registration Form----------*/

.flex-containter{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    
}
.main-register{
    width: 50%;
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.personal-info{
    display:flex;
    flex-direction:row;
}
.container-data{
    display: flex;
    flex-direction: column;
}
.personal-info input{
    width: 100px;
}


.agreement{
width: 500px;
padding-top: 20px;
padding-left: 10px;
padding-bottom: 20px;
flex-grow: 1;
} .agreement h3{
    text-align: center;
}
.agreement p {
    font-size: 10px;
}
.sign{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;
    
}
.sign-font{
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.submit{
    position: absolute;
    left: 230px;
    margin-top: 10px; 
}
.mid-option{
    display: inline-block;
   
    
}
.size{
    display: inline;
}
.submit-btn{
    text-align: center;
    padding-bottom: 5px;
}
.submit-btn input{
    background-color: black;
    color: aliceblue;
    width: 80px;
    padding: 0.5em;
}